.gisync-checkbox-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: flex-start;
    align-content: flex-start;
}

 .gisync-checkbox-container > label {
     text-align: center;
     padding-right: 1em;
     flex: 1 1 0;
}

 .gisync-checkbox-container > label:last-child {
     padding-right: 0;
 }

 .gisync-checkbox-container > label span {
     display: block;
     font-size: 0.8em;
}
